header, section, footer{
    max-width: 1200px;
    margin: auto;
}


section .urun-liste{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;

}
section .urun-liste .card{
    border: 1px solid yellowgreen;
    padding: 1rem;
}
.tema-butonlar{
    position: fixed;
    top: 1rem;
    right: 1rem;
}

.sari{
    background-color: coral;
    color: azure;
}
.yeşil{
    background-color: blue;
    color: azure;
}
.siyah{
    background-color: chartreuse;
    color: azure;
}